button,
input {
  font-size: 1rem;
  outline: 0;
}
:root {
  --dark: #0c0c0c;
  --white: #fff;
  --purple: #313131;
  --gray: #949494;
  --gray2: #cccccc;
}
.body2 {
  background-color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  display: flex;
  max-height: 100vh;
}
.box-questions {
  background-color: var(--gray2);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 80vw;
  text-align: center;
}
.parede-box {
  width: 10vw;
  max-height: 100vw;
  background-color: #0a0a0a;
}
.chao,
.topo {
  background-color: var(--purple);
}
.topo {
  font-size: xx-large;
  color: #fff;
  border-radius: 10px 10px 0 0;
  height: 180px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;
}
.topo span {
  color: #0ff;
}
.chao {
  padding: 1rem;
}
input {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
button {
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0e0e1a;
  color: #c7c6c6;
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0 0 30px #6c0afe8d;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
button:active {
  scale: 1.02;
}
button:hover {
  background: #021d4e;
  background: linear-gradient(
    270deg,
    rgba(32, 2, 78, 0.681) 0,
    rgba(182, 31, 232, 0.873) 60%
  );
  color: #fff;
}
#history {
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.box-my-message {
  display: flex;
  justify-content: flex-end;
}
.box-response-message {
  display: flex;
  justify-content: flex-start;
}
.my-message,
.response-message {
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  margin: 0;
}
.my-message {
  text-align: right;
  background-color: var(--gray);
}
.response-message {
  text-align: left;
  background-color: var(--gray2);
}
