.vw2 h1,
.vw2 h3,
.vw2 h5,
.vw3 h1,
.vw5 h1 {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
:root {
  --bg-color: #0c0c0c;
  --text-color: #fffffff1;
  --text2-color: #c8c8c8f1;
  --main-color: #58df64;
  --orange: rgba(255, 192, 0, 1);
  --yellow: rgba(249, 255, 7, 1);
  --big-font: 6.6rem;
  --p-font: 1rem;
  --gradient: linear-gradient(
    131deg,
    rgba(249, 255, 7, 0) 0%,
    rgba(252, 182, 3, 1) 50%,
    rgba(255, 192, 0, 0) 100%
  );
}
body {
  width: 100vw;
  min-height: 100vh;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  overflow-x: hidden;
  position: relative !important;
}
h1 {
  font-size: 2.4rem;
}
section {
  width: 100vw;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.vw1 {
  height: 640px;
  background-color: rgb(0, 255, 229);
  object-fit: contain;
  position: relative;
}
.vw2,
.vw3,
.vw4,
.vw5,
.vw6 {
  background-color: #232c34;
}
.vw1 img {
  width: 100%;
  height: 640px;
}
.vw2 {
  min-height: 940px;
  -webkit-box-shadow: inset 0 200px 34px -107px #000;
  -moz-box-shadow: inset 0 200px 34px -107px #000;
  box-shadow: inset 0 200px 34px -107px #000;
}
.vw3 {
  height: 750px;
}
.vw4 {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.vw5 {
  height: 720px;
}
.vw6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
.vw7 {
  height: 650px;
  background-color: rgba(0, 0, 0, 0.686);
}
.vw8 {
  height: 700px;
  background-color: rgba(10, 208, 72, 0.686);
}
.fundo-sombra {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 640px;
  -webkit-box-shadow: inset 0 -200px 33px -126px #000;
  -moz-box-shadow: inset 0 -200px 33px -126px #000;
  box-shadow: inset 0 -200px 33px -126px #000;
}
.vw2 h1 span {
  color: var(--yellow);
}
.vw2 .h1 span {
  color: #3498ea;
}
.vw2 h3,
.vw2 h5 {
  font-size: 20px;
  color: var(--text2-color);
}
.vw2 main {
  width: 900px;
  height: 110px;
  border: 3px solid #0c0c0c;
}
.video-equipe {
  position: relative;
}
.bl-left,
.play-circle,
.second-bl {
  position: absolute;
}
.second-bl {
  top: 0;
  background-color: #05d7d718;
  box-shadow: #00000014 0 23px 55px 30px inset,
    rgba(0, 0, 0, 0.066) 0 -36px 30px 0 inset,
    rgba(0, 0, 0, 0.422) 0 -79px 40px 0 inset, #3d0046 0 2px 1px,
    rgba(0, 0, 0, 0.886) 0 4px 2px, rgba(0, 0, 0, 0.138) 0 8px 4px,
    #0000005f 0 16px 8px, rgba(0, 0, 0, 0.583) 0 32px 16px;
}
.video-equipe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.bl-left {
  width: 480px;
  height: 400px;
  top: 175px;
  left: 15%;
  z-index: 2;
}
.bl-left h4 {
  color: #fff;
  opacity: 85%;
  font-weight: 800;
  letter-spacing: 1px;
}
.bl-left h1 {
  background-image: linear-gradient(
    45deg,
    var(--yellow),
    var(--orange),
    var(--yellow)
  );
  background-clip: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.6rem;
  letter-spacing: 5px;
}
.bl-left p {
  color: #fff;
  margin-top: 8px;
  margin-bottom: 14px;
}
.bl-left p span {
  color: var(--orange);
}
.line {
  width: 300px;
  height: 3px;
  background: linear-gradient(90deg, #01faff 0, #e03fff 100%);
  margin-top: 8px;
}
.bx-midias-sociais {
  width: auto;
  height: auto;
  padding: 2px 0;
  margin-top: 22px;
  display: flex;
  align-items: center;
}
.bx-midias-sociais .circle {
  width: 45px;
  height: 45px;
  margin-left: 0;
  margin-right: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.c1,
.c2, 
.c3,
.c4 {
  border: 1px solid #ffffff;
  padding: 8px;
  fill: #ffffff;
  background-color: #222222;
}
.bx-midias-sociais .circle:hover {
  border: 2px solid #ffff00;
  fill: #ffff00;
  color: #ffff00;
}
.c3 {
  color: #fff;
  padding: 0;
}
.play-circle {
  width: 200px;
  height: 200px;
  color: #fff;
  top: 0;
}
.ct-informations {
  width: 1000px;
  height: 252px;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  position: relative;
}
.mini-ct {
  width: 300px;
  height: 230px;
}
.bx-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.bx-info span {
  font-size: 1.1rem;
  color: #e5e2e2;
  margin-right: 14px;
  margin-left: 20px;
}
.fita-name {
  width: 200px;
  height: 40px;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: 900;
  color: #070707;
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.376) 0 10px 20px, rgba(0, 0, 0, 0.686) 0 6px 6px;
}
.ft-nm1 {
  background: linear-gradient(97deg, var(--yellow) 0, var(--orange) 100%);
}
.ft-nm2 {
  background-color: #b01a1a50;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(10px);
}
.fita-detals {
  width: 100%;
  height: 10px;
  background: linear-gradient(97deg, #ffc000 0, #f9ff07 100%);
  border-radius: 0 0 10px 10px;
}
.ct-ativa {
  display: flex;
  width: 1000px;
  height: 80px;
  background-color: #0d0e18c7;
}
.bl-sobreAtiva {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ativa1,
.ativa2,
.ativa3 {
  border-right: 1px solid rgba(255, 255, 255, 0.193);
}
.ativa4 {
  border: none;
}
.ativa5 {
  border-left: 1px solid rgba(255, 255, 255, 0.193);
}
.bl-sobreAtiva h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
}
.bl-sobreAtiva h5 {
  color: #cf3333;
  font-size: 1.5rem;
  font-weight: 900;
}
.bl-sobreAtiva span {
  color: #d1c9c9;
}

/*------Botao-planos------*/



.plano-fundo {
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: end;
  object-fit: cover;
  background-color: #7400aa;
}
.plano-fundo img {
  width: 100%;
  height: 100%;
}
.bl-imagem {
  width: 400px;
  height: 640px;
  position: absolute;
  left: 50px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bl-imagem img {
  width: 340%;
  height: auto;
}
.bx-pontos {
  width: auto;
  height: auto;
  padding: 10px;
  margin-right: 60px;
  margin-bottom: 85px;
  margin-top: 90px;
}
.bl-pontos {
  width: auto;
  min-height: 390px;
}
.box-pontos {
  width: 750px;
  height: 110px;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(145,227,252,1) 25%, rgba(0,140,198,1) 50%, rgb(255, 255, 255) 75%, rgb(65, 208, 255) 100%);
  margin: 10px 0;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.868);
}
.linha {
  width: 10px;
  height: 100%;
  background: linear-gradient(135deg, rgba(250,255,0,1) 0%, rgba(253,212,0,1) 20%, rgba(255,255,255,1) 50%, rgba(253,212,0,1) 80%, rgba(250,255,0,1) 100%);
  border-right: 2px solid black;
}
.bx-textos-pontos {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bx-textos-pontos h1 {
  font-size: 1.7rem;
  color: black;
}
.bx-textos-pontos span {
  font-size: 1rem;
  color: #000000cc;
}
.linha-horizontal {
  width: 70%;
  height: 2px;
  background-color: #2c2c2cb4;
}

.input-field {
  padding: 6px 4px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #ffffff;
}
.input-field:nth-child(1){
  width: 30%;
}
.input-field:nth-child(2){
  width: 36%;
}
.input-field:nth-child(3){
  width: 20%;
}

.input-field:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/*.range-container {
	position: relative;
}*/

input[type=range] {
	  width: 220px;
  	margin-top: 10px;
    margin-left: 7px;
  	-webkit-appearance: none;
    border-radius: 50%;
}

input[type=range] + label {
	background-color: #4b4a4abe;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 4px;
  margin-left: 10px;
}

input[type=range]:active {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	animate: 0.2s;
	background-color: rgb(3, 111, 145);
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: 6px;
}

input[type=range]::-webkit-slider-thumb {
	background: #2d282e;
	border-radius: 50%;
	border: 0.1rem solid rgb(255, 255, 255);
  cursor: pointer;
	height: 15px;
	width: 15px;
	margin-top: -5px;
	-webkit-appearance: none;
}

input[type=range]:active::-webkit-slider-runnable-track {
	background-color: rgb(0, 146, 190);
}
input[type=range]:active::-webkit-slider-thumb {
	opacity: 0.7;
}
input[type=range]::-moz-range-track {
	animate: 0.2s;
	background-color: purple;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: 7.5px;
}
input[type=range]::-moz-range-thumb {
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid purple;
  	cursor: pointer;
	height: 20px;
	width: 20px;
}
input[type=range]::-ms-track {
	animate: 0.2s;
	background-color: purple;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: 7.5px;
}
input[type=range]::-ms-thumb {
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid purple;
  	cursor: pointer;
	height: 20px;
	width: 20px;
	margin: 0;
	box-sizing: border-box;
}

input[type=range]:active::-ms-fill-lower {
  background: purple;
}

input[type=range]:active::-ms-fill-upper {
  background: purple;
}



.btn-log {
  width: 80%;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0.774);
  border-radius: 6px;
  font-size: 1em;
  font-family: 'Courier New';
  padding-top: 3px;
  font-weight: 600;
  background-color: #f77f7f;
  cursor: pointer;
}
.btn-log:hover {
  font-weight: 600;
  background-color: #fd6060;
}

.vw5 h1 {
  font-size: 3rem;
}

.ct-melhor-opcao {
  width: 70%;
  height: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: auto;
  margin-top: 60px;
  display: flex;
}
.bloco-left {
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, #a4508b, #5f0a87);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Adiciona posicionamento relativo */
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form-container label {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-container input, .form-container select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}
.form-container input::placeholder, .form-container select::placeholder {
  color: gray;
}
.placeholder-terreno {
  color: white;
}
.submit-btn {
  background: linear-gradient(45deg, yellow, orange);
  color: black;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.submit-btn:hover {
  transform: scale(1.05);
}
#city-list {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  max-height: 210px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  position: absolute;
  color: #000000be;
}
#city-list li {
  padding: 8px;
  cursor: pointer;
}
#city-list li:hover {
  background-color: #f0f0f0;
}

/* Estilo geral para o select */
.form-container select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: white;
  color: gray; /* Cor inicial do texto */
}

/* Cor do texto quando uma opção é selecionada */
.form-container select.selected {
  color: black;
}

/* Estilo para optgroups */
.form-container optgroup {
  font-weight: bold;
  color: #333;
}

/* Estilo para opções dentro do optgroup */
.form-container option {
  color: #333;
}


.bloco-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Adiciona posicionamento relativo */
}
.image-logo {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-logo img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}
.produto-escolhido {
  width: 100%;
  height: 100%;
  /*background-color: #bff259;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none;
}
.ct-img-escolha {
  width: 60%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bloco-right h2 {
  font-size: 1.9rem;
  text-align: center;
  color: #d307f7;
}
.bloco-right a img {
  width: 400px;
  height: 140%;
  object-fit: cover;
}
.bloco-right h4 {
  text-align: center;
  width: 90%;
  color: #000000aa;
}
.bloco-right button {
  width: 50%;
  position: relative;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(129deg, rgba(255,0,241,1) 0%, rgba(255,177,252,1) 37%, rgba(210,0,228,1) 100%);
}
.bloco-right button:hover {
  background: linear-gradient(129deg, rgba(255,0,241,1) 0%, rgba(0,168,255,1) 37%, rgba(210,0,228,1) 100%);
}
.bloco-right button div {
  background-color: #f4ff2400;
  width: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}                                                                                                                                                                                                                                                                                                                               

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes opacidade {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.bloco-left.move {
  animation: moveLeft 0.5s forwards; /* Mantém a posição final */
}

.bloco-right.move {
  animation: moveRight 0.5s forwards; /* Mantém a posição final */
}

.image-logo.invisivel {
  display: none;
}
.produto-escolhido.visivel {
  display: flex;
  animation: opacidade 1.4s forwards;
}

.transition-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

/*View Cometários*/
.title-vw6 {
  width: 850px;
  height: 90px;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 2;
}
.title-vw6 h1 {
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  font-size: 3.3em;
}
.bloco-icone {
  width: 9%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: -1;
}
.bloco-icone svg {
  fill: rgba(85, 85, 85, 0.616);
  width: 90px;
  height: 80px;
}

.vw6 .text {
  font-size: 1.3rem;
  margin-top: 20px;
  color: #999;
  text-align: center;
  width: 80%;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 33.333%;
  opacity: 0.5;
  transform: scale(0.9);
  transition: opacity 0.5s, transform 0.5s;
  position: relative;
}

.carousel-item.active {
  opacity: 1;
  transform: scale(1);
}

.card {
  background: rgba(255,255,255,0.45);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255,255,255,0.225);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-profile {
  display: flex;
}

.info-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: auto;
}

.stars {
  width: 40%;
  height: 30px;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.bx-btn-video {
  display: flex;
  justify-content: center;
  min-width: 25%;
  height: 30px;
  position: absolute;
  top: 20px;
  right: -1px;
  cursor: pointer;
}

.triangulo-esquerda {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 15px solid #ffff00; 
}

.btn-video {
  background: linear-gradient(129deg, rgba(255,255,0,1) 44%, rgba(255,165,0,1) 100%);
  color: rgba(0, 0, 0, 0.799);
  width: 100%;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.2s ease;
}
.btn-video:hover {
  color: #000000;
  font-size: 1rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.carousel-btn.prev {
  left: -4px;
}

.carousel-btn.next {
  right: -4px;
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: yellow;
}
