<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <meta
      name="description"
      content="Estaçao Genesis - O Futuro da Meteorologia para Agricultores"
    />
    <meta
      name="keywords"
      content="Meteorologia, Agricultura, Inovação, Tecnologia"
    />
    <meta name="author" content="Equipe 3101" />
    <link rel="stylesheet" href="/assets/CSS/style.css" />
    <link rel="stylesheet" href="/assets/CSS/H-F.css" />
    <link rel="stylesheet" href="/assets/CSS/dash.css" />
    <link rel="stylesheet" href="/assets/CSS/MyLib.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel=”stylesheet”
    href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css”>
  </head>

  <div class="glass-background"></div>

  <body style="background-color: rgb(64, 65, 64)">
    <header class="header" id="header">
      <nav class="nav container" aria-label="Main Navigation">
        <a class="nav__logo"><img src="/assets/IMG/logo2.png" alt=""></a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="index.html" class="nav__link">
                <i class="ri-arrow-right-up-line"></i>
                <span>Início</span>
              </a>
            </li>
            
            <li class="nav__item">
              <a href="dashboard.html" class="nav__link">
                <i class="ri-arrow-right-up-line"></i>
                <span>Dashboard</span>
              </a>
            </li>
            
            <li class="nav__item">
              <a href="chatbot.html" class="nav__link">
                <i class="ri-arrow-right-up-line"></i>
                <span>ChatBot</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="gemeo.html" class="nav__link">
                <i class="ri-arrow-right-up-line"></i>
                <span>Gemeo Digital</span>
              </a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <i class="ri-close-large-line"></i>
          </div>

          <div class="nav__social">
            <a
              href="https://www.instagram.com/estacao3101/"
              target="_blank"
              class="nav__social-link"
            >
              <i class="ri-instagram-line"></i>
            </a>

            <a
              href="https://github.com/EstacaoGenesis"
              target="_blank"
              class="nav__social-link"
            >
              <i class="ri-github-line"></i>
            </a>

            <a 
              href="https://www.notion.so/Di-rio-de-Bordo-b80a633d32ad4d6d85510eee0a9d1a12"
              target="_blank" 
              class="nav__social-link"
            >
              <i class="bx bx-notepad"></i>
            </a>

            <a
              href="mailto:estacaogenesis3101@gmail.com"
              target="_blank"
              class="nav__social-link"
            >
              <i class="bx bx-envelope"></i>
            </a>
          </div>
        </div>

        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <i class="ri-menu-line"></i>
        </div>
      </nav>
    </header>

    <div class="Info">
      <div class="bl-infos">
        <h2 id="NumeroEstacao"></h2>
        <h3 id="Dia"></h3>
        <h4 id="Hora"></h4>
        <h5 id="Fonte"></h5>
      </div>

      <div class="Graficos">
        <div class="mini-bl-sensor">
          <h3 class="mini-name-sensor">Pluviometria</h3>
          <div class="Grafico" id="InfoPluviometria"></div>
        </div>
        <div class="mini-bl-sensor">
          <h3 class="mini-name-sensor">Temperatura Mín.</h3>
          <div class="Grafico" id="InfoTemperaturaMinima"></div>
        </div>
        <div class="mini-bl-sensor">
          <h3 class="mini-name-sensor">Temperatura Máx.</h3>
          <div class="Grafico" id="InfoTemperaturaMaxima"></div>
        </div>
        <div class="mini-bl-sensor">
          <h3 class="mini-name-sensor">Pressão Atm.</h3>
          <div class="Grafico" id="InfoPressaoAtmosferica"></div>
        </div>
        <div class="mini-bl-sensor">
          <h3 class="mini-name-sensor">Umidade Ar</h3>
          <div class="Grafico" id="InfoUmidade"></div>
        </div>
        <div class="mini-bl-sensor">
          <h3 class="mini-name-sensor">Velocidade Vento</h3>
          <div class="Grafico" id="InfoVento"></div>
        </div>
      </div>
    </div>

    <div class="ct-info">
      <div class="bx-sensores">
        <div class="bl-sensor">
          <h3 class="name-sensor">Pluviometria</h3>
          <div class="Grafico" id="GraficoChuva"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Radiação Solar</h3>
          <div class="Grafico" id="GraficoRadiacaoSolar"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Sensação Térmica</h3>
          <div class="Grafico" id="GraficoSensacaoTermica"></div>
        </div>

        <div class="bl-sensor">
          <h3 class="name-sensor">Temperatura Mín.</h3>
          <div class="Grafico" id="GraficoTemperaturaMinima"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Temperatura</h3>
          <div class="Grafico" id="GraficoTemperaturaMedia"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Temperatura Máx.</h3>
          <div class="Grafico" id="GraficoTemperaturaMaxima"></div>
        </div>

        <div class="bl-sensor">
          <h3 class="name-sensor">Pt. Orvalho Mín.</h3>
          <div class="Grafico" id="GraficoPontoDeOrvalhoMinimo"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Pt. Orvalho</h3>
          <div class="Grafico" id="GraficoPontoDeOrvalhoMedio"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Pt. Orvalho Máx.</h3>
          <div class="Grafico" id="GraficoPontoDeOrvalhoMaximo"></div>
        </div>

        <div class="bl-sensor">
          <h3 class="name-sensor">Pressão Atm. Mín.</h3>
          <div class="Grafico" id="GraficoPressaoMinima"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Pressão Atm.</h3>
          <div class="Grafico" id="GraficoPressaoMedia"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Pressão Atm. Máx.</h3>
          <div class="Grafico" id="GraficoPressaoMaxima"></div>
        </div>

        <div class="bl-sensor">
          <h3 class="name-sensor">Umidade Ar Mín.</h3>
          <div class="Grafico" id="GraficoUmidadeDoArMinima"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Umidade Ar</h3>
          <div class="Grafico" id="GraficoUmidadeDoArMedia"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Umidade Ar Máx.</h3>
          <div class="Grafico" id="GraficoUmidadeDoArMaxima"></div>
        </div>

        <div class="bl-sensor">
          <h3 class="name-sensor">Direção Vento</h3>
          <div class="Grafico" id="GraficoDirecaoVento"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Velocidade Vento</h3>
          <div class="Grafico" id="GraficoVelocidadeVento"></div>
        </div>
        <div class="bl-sensor">
          <h3 class="name-sensor">Velocidade Raj. Vento</h3>
          <div class="Grafico" id="GraficoVelocidadeRajadaVento"></div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/assets/js/dashboard.js"></script>

    <script src="/assets/js/main.js"></script>
  </body>
</html>