<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login e Registro</title>
    <link rel="stylesheet" href="../assets/CSS/sign.css">
</head>
<body>
    <div class="container">
        <!--Login-->
        <div id="login-form" class="form-container">
            <div class="form-section">
                <form id="loginForm">
                    <div class="form-header">
                        <h3 class="form-title">Entrar</h3>
                        <p class="form-text">Não tem uma conta? <a href="javascript:void(0);" onclick="toggleForms()" class="form-link">Registre-se aqui</a></p>
                    </div>
                    
                    <div class="test-form">
                        <label class="form-label">Email</label>
                        <div class="input-container">
                            <input id="login-email" name="email" autocomplete="email" type="text" required class="input-field" placeholder="Digite seu email" />
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"/></svg>
                        </div>
                        <p id="login-email-error" class="error-message hidden"></p>
                    </div>

                    <div class="mt-8">
                        <label class="form-label">Senha</label>
                        <div class="input-container">
                            <input id="login-password" name="password" autocomplete="current-password" type="password" required class="input-field" placeholder="Digite sua senha" />
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="viewSenha"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>
                        </div>
                        <p id="login-password-error" class="error-message hidden"></p>
                    </div>

                    <div class="form-options">
                        <div class="checkbox-container">
                            <input id="remember-me" name="remember-me" type="checkbox" class="checkbox" />
                            <label for="remember-me" class="checkbox-label">Lembrar senha</label>
                        </div>
                        <a href="javascript:void(0);" class="form-link">Esqueceu sua senha?</a>
                    </div>

                    <div class="form-actions mt-8">
                        <button type="submit" id="login-submit" class="btn-primary">Entrar</button>
                        <button type="button" class="btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-google" viewBox="0 0 512 512">
                                <!-- ícone do google -->
                            </svg>
                            Entrar com o google
                        </button>
                    </div>
                </form>
            </div>

            <div class="form-image">
                <img src="../assets/IMG/1.png" alt="login-image" />
            </div>
        </div>

        <!-- Registro -->
<div id="register-form" class="hidden form-container">
    <div class="form-section">
        <form id="registerForm">
            <div class="form-header">
                <h3 class="form-title">Registrar</h3>
                <p class="form-text">Ja tem uma conta? <a href="javascript:void(0);" onclick="toggleForms()" class="form-link">Entrar</a></p>
            </div>

            <div class="form-group">
                <label for="register-email">Email</label>
                <div class="input-container">
                    <input id="register-email" name="email" type="email" required class="input-field" placeholder="Digite seu email" required />
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"/></svg>
                </div>
                <p id="register-email-error" class="error-message"></p>
            </div>

            <div class="form-group">
                <label for="register-password">Senha</label>
                <div class="input-container">
                    <input id="register-password" name="password" type="password" required class="input-field" placeholder="Digite sua senha" required />
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="viewSenha"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>
                </div>
                <p id="register-password-error" class="error-message"></p>
            </div>

            <div class="form-group">
                <label for="register-confirm-password">Confirme a Senha</label>
                <div class="input-container">
                    <input id="register-confirm-password" name="confirm_password" type="password" required class="input-field" placeholder="Confirme sua senha" required />
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="viewSenha"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>
                </div>
                <p id="register-confirm-password-error" class="error-message"></p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn-primary" onclick="validateRegister()">Registrar</button>
            </div>
        </form>
    </div>

    <div class="form-image">
        <img src="../assets/IMG/2.png" alt="register-image" />
    </div>
</div>

    </div>

    <script src="../assets/js/sign.js"></script>
</body>
</html>